aioquic==1.3.0
anyio==4.13.0
argon2==0.1.10
async-generator==1.10
attrs==26.1.0
base58==2.1.1
bcrypt==5.0.0
blake3==1.0.8
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
coincurve==21.0.0
cryptography==46.0.7
dnspython==2.8.0
fastecdsa==2.3.2
flask==3.1.3
grpcio==1.80.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ifaddr==0.2.0
importlib-metadata==9.0.0
itsdangerous==2.2.0
jinja2==3.1.6
libp2p==0.6.0
lru-dict==1.4.1
markupsafe==3.0.3
miniupnpc==2.3.3
mmh3==5.2.1
morphys==1.0
multiaddr==0.0.11
mypy-extensions==1.1.0
mypy-protobuf==5.0.0
netaddr==1.3.0
noiseprotocol==0.3.1
outcome==1.3.0.post0
packaging==26.0
protobuf==6.33.6
psutil==7.2.2
py-cid==0.5.0
py-multibase==2.0.0
py-multicodec==1.0.0
py-multihash==3.0.0
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pylsqpack==0.3.24
pynacl==1.6.2
pyopenssl==26.0.0
python-baseconv==1.2.2
qrcode==8.2
requests==2.33.1
rpcudp==5.0.1
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
trio==0.33.0
trio-typing==0.10.0
trio-websocket==0.12.2
types-protobuf==7.34.1.20260408
types-requests==2.33.0.20260408
typing-extensions==4.15.0
u-msgpack-python==2.8.0
urllib3==2.6.3
varint==1.0.2
werkzeug==3.1.8
wsproto==1.3.2
zeroconf==0.147.3
zipp==3.23.0
